.button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 15px 30px;
  font-size: var(--font-size-button);
  font-family: var(--font-title, sans-serif);
  font-weight: 500;
  letter-spacing: 0.5px;

  border-width: 1px;
  border-style: solid;
  border-radius: 40px;
  text-decoration: none;
  cursor: pointer;

  transition: all 0.3s ease;
}

.button:hover {
  box-shadow: 0 20px 20px #36b8a2;
}
