.solutionsSection {
  background-color: #dff0ff;
  padding-top: 80px;
  padding-bottom: 80px;
}

.innerWrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
  text-align: center;
}

.title {
  font-family: var(--font-title, sans-serif);
  color: var(--color-dark);
  font-size: var(--font-size-title);
  margin-bottom: 60px;
  text-transform: none;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

@media (max-width: 600px) {
  .title {
    font-size: 40;
  }
  
  .innerWrapper {
    padding: 0 20px;
  }

  .carouselContainer {
    width: 100%;
    margin: 0 auto;
    position: relative;
  }

  .carouselContent {
    margin-left: 0;
  }

  .solutionsSection {
    padding-top: 40px;
    padding-bottom: 10px;
  }
}
