.muiModalOverlay {
  display: flex;
  align-items: center;
  justify-content: center;
}

.muiModalContent {
  background-color: white;
  padding: 40px;
  border-radius: 12px;
  outline: 1px solid black;

  max-width: 1100px;
  width: 90%;
  max-height: 90vh;
  overflow-y: auto;
  position: relative;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  scrollbar-width: none;
}
