.card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding-bottom: 20px;
  z-index: 1;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: var(--color-secondary);
  z-index: 1;
}

.cardWrapper {
  position: relative;
  height: 100%;
  padding: 60px 0 0 0;
}

.backgroundSquare {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 107%;
  height: 60%;

  background-color: #d8e8f9;
  border-radius: 12px;
  z-index: 1;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}

.twoColumnWrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0 20px;
  margin-top: 15px;
}

.title {
  font-family: var(--font-title, sans-serif);
  color: var(--color-secondary);
  font-size: 1.1rem;
  margin: 20px 0 0px 0;
  text-align: center;
  padding: 0 20px;
}

.imageWrapper {
  height: auto;
  max-width: 150px;
  overflow: hidden;
  position: relative;
}

.projectImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  border-radius: 6px;
}

.buttonsContainer {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0;
  align-self: center;
}

.detailsButton,
.visitButton {
  width: 100%;
  font-size: 0.9rem !important;
  padding: 8px 12px !important;
  text-align: center !important;
  border-radius: 15px;
}

@media (max-width: 600px) {
  .twoColumnWrapper {
    flex-direction: column;
    gap: 10px;
    padding: 0 15px;
  }

  .title {
    font-size: 0.9rem;
    margin: 10px 0 5px 0;
    padding: 0 10px;
  }

  .imageWrapper,
  .buttonsContainer {
    width: 100%;
    max-width: none;
  }

  .buttonsContainer {
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
    margin-top: 5px;
  }

  .detailsButton,
  .visitButton {
    width: 50%;
    flex-shrink: 0;
    font-size: 0.7rem !important;
    padding: 6px 5px !important;
    border-radius: 8px;
  }
}
