.card {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
  text-align: left;
}

.card:hover {
  transform: translateY(-5px);
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: var(--color-main);
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.title {
  padding-top: 20px;
  font-family: var(--font-title, sans-serif);
  color: var(--color-dark);
  font-size: 20px;
  flex-grow: 1;
  margin-right: 15px;
}

.iconContainer {
  width: 90px;
  height: 90px;
  min-width: 50px;
  position: relative;
  flex-shrink: 0;
}

.iconImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: static;
}

.description {
  font-family: var(--font-body, sans-serif);
  color: #000000;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 20px;
  flex-grow: 1;
  text-align: left;
}

.link {
  font-family: var(--font-body, sans-serif);
  color: var(--color-secondary);
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  transition: color 0.2s ease;
}

.link:hover {
  color: var(--color-dark);
}
