.card {
  background-color: white;
  padding: 60px;
  border-radius: 8px;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;

  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: var(--color-main);
}

.card:hover {
  transform: translateY(-5px);
}

.iconContainer {
  position: relative;
  margin-bottom: 10px;
}

.iconImage {
  filter: none;
  color: var(--color-main);
  width: auto;
  height: auto;
}

.title {
  font-family: var(--font-title, sans-serif);
  color: var(--color-secondary);
  font-size: 1.6rem;
  margin: 0;
  text-align: center;
}

.active {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-5px);
}

@media (max-width: 600px) {
  .card {
    padding: 20px;
  }

  .title {
    font-size: 1.2rem;
  }
}
