.portfolioSection {
  background-color: white;
  padding-top: 80px;
  position: relative;
  overflow: hidden;
  text-align: center;
  padding-bottom: 200px;
}

.circlesDesignImageLeft {
  position: absolute;
  left: 50px;
  top: 170px;
  z-index: 0;
  opacity: 0.3;
}

.blueBackground {
  position: absolute;
  top: 420px;
  left: 0;
  right: 0;
  height: 325px;
  background-color: var(--color-main);
  z-index: 0;
}

.innerWrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
  z-index: 1;
}

.title {
  font-family: var(--font-title, sans-serif);
  color: var(--color-dark);
  font-size: var(--font-size-title);
  margin-bottom: 80px;
  text-transform: none;
  position: relative;
  z-index: 0;
}

.ctaWrapper {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
