.portfolioSection {
  background-color: white;
  padding-top: 80px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.innerWrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.title {
  font-family: var(--font-title, sans-serif);
  color: var(--color-dark);
  font-size: 2.2rem;
  margin-bottom: 180px;
  text-transform: none;
  position: relative;
  z-index: 10;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 200px;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  max-width: 1000px;
  width: 100%;
  position: relative;
  z-index: 5;
}

.arrowLeft,
.arrowRight {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  color: var(--color-main);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
  top: 30%;
}

.arrowLeft {
  left: 0;
  transform: translateX(-50%);
}

.arrowRight {
  right: 0;
  transform: translateX(50%);
}

.portfolioSection::after {
  content: '';
  position: absolute;
  top: 400px;
  left: 0;
  right: 0;
  bottom: 60px;
  background-color: var(--color-main);
  z-index: 1;
}

.portfolioSection::before {
  content: '';
  position: absolute;
  top: 33%;
  left: 95px;
  width: 170px;
  height: 170px;
  border: 2px solid var(--color-secondary);
  border-radius: 50%;
  opacity: 0.3;
  z-index: 1;
}

.portfolioSection .innerWrapper::before {
  content: '';
  position: absolute;
  top: 25%;
  left: 28px;
  width: 300px;
  height: 300px;
  border: 2px solid var(--color-secondary);
  border-radius: 50%;
  opacity: 0.2;
  z-index: 1;
}

.portfolioSection .innerWrapper::after {
  content: '';
  position: absolute;
  top: 29%;
  left: 65px;
  width: 225px;
  height: 225px;
  border: 2px solid var(--color-secondary);
  border-radius: 50%;
  opacity: 0.3;
  z-index: 1;

  border-left-color: transparent;
  transform: rotate(60deg);
}

.portfolioSection .cardContainer::before {
  content: '';
  position: absolute;
  top: -6%;
  right: 13%;
  width: 210px;
  height: 210px;
  border: 2px solid var(--color-secondary);
  border-radius: 50%;
  opacity: 0.2;
  z-index: 2;
}

.ctaWrapper {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
