.altSolutionsSection {
  background-color: white;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.altSolutionsSection::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 300px;
  background-color: var(--color-main);
  z-index: 0;
}

.innerWrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}

.title {
  font-family: var(--font-title, sans-serif);
  color: white;
  font-size: var(--font-size-title);
  padding-top: 80px;
  padding-bottom: 120px;
  text-transform: none;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  background-color: #dff0ff;
  padding: 60px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

  margin-top: -60px;
}
