.altSolutionsSection {
  background-color: transparent;
  position: relative;
  overflow: hidden;
  text-align: center;
  padding-bottom: 40px;
}

.altSolutionsSection::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 300px;
  background-color: transparent;
  z-index: 0;
}

.altSolutionsSection::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  top: 300px;
  height: calc(100% - 300px);
  background-color: #f9fffe;
  z-index: 0;
}

.innerWrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}

.title {
  font-family: var(--font-title, sans-serif);
  color: white;
  font-size: var(--font-size-title);
  padding-top: 80px;
  padding-bottom: 100px;
  text-transform: none;
  position: relative;
  z-index: 10;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  background-color: var(--color-light);
  padding: 60px;
  border-radius: 150px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

  margin-top: -60px;
  position: relative;
  z-index: 15;
}
