@import 'tailwindcss';

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

:root {
  --color-main: #0384fa;
  --color-secondary: #7bc0e3;
  --color-dark: #292525;
  --font-size-title: 50px;
  --font-size-mainText: 45px;
  --font-size-subtitle: 40px;
  --font-size-text: 33px;
  --font-size-button: 20px;
  --font-size-little-text: 16px;
}
