.teamSection {
  background-color: var(--color-base);
  padding-top: 30px;
  padding-bottom: 40px;
}

.innerWrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
  text-align: center;
}

.title {
  font-family: var(--font-title, sans-serif);
  color: var(--color-main);
  font-size: var(--font-size-title);
  margin-bottom: 10px;
  text-transform: none;
}

.titleLine {
  width: 300px;
  height: 5px;
  background-color: var(--color-main);
  margin: 0 auto 60px auto;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
