.stepsSection {
  background-color: white;
  padding: 80px 0;
  position: relative;
}

.innerWrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.sectionTitle {
  font-family: var(--font-title, sans-serif);
  color: var(--color-dark);
  font-size: var(--font-size-title);
  margin-bottom: 60px;
  text-align: left;
  padding-left: 45px;
}

.highlight {
  color: var(--color-main);
}

.contentGrid {
  display: flex;
  gap: 80px;
}

.stepsColumn {
  flex: 0 0 45%;
  position: relative;
}

.stepsColumn::before {
  content: '';
  position: absolute;
  left: 37px;
  top: 5px;
  bottom: 150px;
  width: 1px;

  background-image: repeating-linear-gradient(
    to bottom,
    var(--color-secondary),
    var(--color-secondary),
    transparent 20px,
    transparent 40px
  );

  z-index: 1;
}

.imageColumn {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stepsImage {
  width: auto;
  height: auto;
  max-width: 1200px;
  padding-right: 400px;
}

.blueCircle {
  position: absolute;
  top: -300px;
  left: -150px;
  z-index: 1;
  opacity: 0.8;
}

.blueCircleRight {
  position: absolute;
  top: -150px;
  left: 1050px;
  z-index: 1;
  opacity: 0.8;
}

.greyCircle {
  position: absolute;
  top: 650px;
  left: 900px;
  z-index: 1;
  opacity: 0.8;
}
