.card {
  background-color: var(--color-light);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.photoWrapper {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 50%;
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  font-family: var(--font-title, sans-serif);
  color: var(--color-secondary);
  font-size: var(--font-size-text);
  margin-top: 0;
}

.role {
  font-family: var(--font-title, sans-serif);
  color: var(--color-secondary);
  font-size: 22px;
  margin: 0;
}
