.card {
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  overflow: hidden;
  align-items: center;
  transition: transform 0.3s ease;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: var(--color-main);
}

.card:hover {
  transform: translateY(-5px);
}

.iconContainer {
  position: relative;
  margin-bottom: 10px;
}

.iconImage {
  width: 100px;
  height: 100px;
  filter: none;
  color: var(--color-main);
}

.title {
  font-family: var(--font-title, sans-serif);
  color: var(--color-secondary);
  font-size: 1.25rem;
  line-height: 1.2;
}
