.mainContainer {
  background-color: white;
  overflow: hidden;
}

.highlightSection {
  background-color: var(--color-main);
  padding: 140px 0;
  color: white;
}

.highlightWrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
  text-align: left;
}

.title {
  font-family: var(--font-title, sans-serif);
  color: white;
  font-size: 50px;
  text-transform: none;
}

.ctaContainer {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 40px 40px 60px 40px;
  text-align: left;
}

.ctaGroup {
  display: flex;
  gap: 20px;
  align-items: center;
  position: relative;
}

.missionSection {
  background-color: var(--color-main);
  padding: 80px 0;
  color: white;
  text-align: center;
}

.missionWrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.missionTitle {
  font-family: var(--font-title, sans-serif);
  color: white;
  font-size: 50px;
  text-transform: none;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
  margin-bottom: 55px;
}

.missionTitle::after {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  height: 5px;
  background-color: white;
}

.missionDescriptionWrapper {
  padding-bottom: 60px;
}

.missionDescription {
  font-family: var(--font-body, sans-serif);
  font-size: 1.5rem;
  padding-bottom: 30px;
  text-align: justify;
}

.visionSection {
  background-color: #ffffff;
  padding: 80px 0;
  color: var(--color-main);
  text-align: center;
}

.visionWrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.visionTitle {
  font-family: var(--font-title, sans-serif);
  font-size: 50px;
  text-transform: none;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
  margin-bottom: 55px;
}

.visionTitle::before {
  content: '';
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  height: 5px;
  background-color: var(--color-main);
}

.visionDescriptionWrapper {
  padding-bottom: 60px;
}

.visionDescription {
  font-family: var(--font-body, sans-serif);
  font-size: 1.5rem;
  padding-bottom: 30px;
  text-align: justify;
  color: #000000;
}

.whatsappFixedButton {
  position: fixed;
  bottom: 30px;
  right: 30px;

  width: 60px;
  height: 60px;
  background-color: #25d366;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 10000;
  transition: transform 0.2s ease;
}

.whatsappFixedButton:hover {
  transform: scale(1.05);
}

.whatsappIcon {
  filter: brightness(0) invert(1);
  width: 35px;
  height: 35px;
}
