.contactSection {
  background-color: var(--color-secondary);
  padding: 40px 0;
  text-align: center;
}

.innerWrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textWrapper {
  margin-bottom: 10px;
}

.title {
  font-family: var(--font-title, sans-serif);
  color: white;
  font-size: 24px;
  margin-bottom: 10px;
}

.subtitle {
  font-family: var(--font-body, sans-serif);
  color: #ffffff;
  font-size: 20px;
}

.contactSection a {
  width: 400px;
}

@media (max-width: 600px) {
  .contactSection {
    padding: 30px 20px;
  }

  .title {
    font-size: 20px;
  }

  .subtitle {
    font-size: 16px;
  }

  .contactSection > .innerWrapper > a {
    max-width: 250px;
  }
}
