.contactSection {
  background-color: var(--color-main);
  padding: 80px 0;
  text-align: center;
}

.innerWrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: var(--font-title, sans-serif);
  color: white;
  font-size: var(--font-size-title);
  margin-bottom: 40px;
}

.contactSection a {
  width: 400px;
}
