.historySection {
  background-color: white;
  padding: 10px 0;
}

.innerWrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.contentBlock {
  margin-bottom: 120px;
}

.highlightTitleContainer {
  display: inline-block;
  text-align: left;
  margin-bottom: 20px;
}

.title {
  font-family: var(--font-title, sans-serif);
  color: var(--color-main);
  font-size: var(--font-size-text);
  text-transform: none;
}

.blueLine {
  background-color: var(--color-main);
  width: 200px;
  height: 3px;
}

.paragraph {
  font-family: var(--font-body, sans-serif);
  color: #000000;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify;
}
